<div ng-controller="QuestionCtrl">
	<div class="row pull-right">
		<div class="form-group">
			<span class="label label-success">{{score}}</span>
		</div>
	</div>
	<div ng-if="correctAnswer" class="alert alert-warning alert-dismissible" role="alert">
	  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  	<strong>Felicidades!</strong> Respuesta correcta.
	</div>
	<div ng-if="uncorrectAnswer" class="alert alert-warning alert-dismissible" role="alert">
	  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  	<strong>Fallaste!</strong> Tu respuesta es incorrecta.
	</div>
	<div ng-if="showMessage" class="alert alert-warning alert-dismissible" role="alert">
	  	<strong>Error!</strong> {{message}}
	</div>
	<div class="row">
		<div class="col-xs-2 col-xs-offset-5 col-md-2 col-md-offset-5 text-center">
			<img class="img-responsive" width="100px" height="auto" src="{{question.image}}">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4 col-md-4 col-md-offset-4">
			{{question.name}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4 col-md-4 col-md-offset-4">
			<div class="radio" ng-repeat="answer in answers" >
				<label>
					<input type="radio" ng-value="answer.id" ng-model="answerRadio.selectedRadio">
					{{answer.name}}
				</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2 col-xs-offset-5 col-md-2 col-md-offset-5 text-center">
			<button type="button" class="btn btn-info" ng-click="evaluateAnswer()">Evaluar</button>
		</div>
	</div>
</div>
